Repository bitshares/bitshares-core, pull requests merged in 2018-05, with the labels that each got.

#889 Bsip36: clear expired feeds on maintenance interval
  libraries/chain/asset_evaluator.cpp
  libraries/chain/db_maint.cpp
  libraries/chain/hardfork.d/CORE_518.hf
  libraries/chain/include/graphene/chain/asset_object.hpp
  libraries/chain/include/graphene/chain/config.hpp
  libraries/chain/include/graphene/chain/database.hpp
  tests/tests/smartcoin_tests.cpp
Labels: hardfork

#882 Fix for Issue 868 - Reset feeds when changing the backing asset from one asset to another
  libraries/chain/asset_evaluator.cpp
  libraries/chain/db_maint.cpp
  libraries/chain/hardfork.d/CORE_868.hf
  libraries/chain/include/graphene/chain/asset_evaluator.hpp
  tests/common/database_fixture.cpp
  tests/common/database_fixture.hpp
  tests/tests/bitasset_tests.cpp
Labels: hardfork

#900 Clear price feed data after updated a bitAsset's backing asset ID
  libraries/chain/asset_evaluator.cpp
  libraries/chain/db_maint.cpp
  libraries/chain/hardfork.d/CORE_868.hf
  libraries/chain/include/graphene/chain/asset_evaluator.hpp
  tests/common/database_fixture.cpp
  tests/common/database_fixture.hpp
  tests/tests/bitasset_tests.cpp
Labels: hardfork

#901 Update median feeds after feed_lifetime_sec changed
  libraries/chain/asset_evaluator.cpp
  libraries/chain/asset_object.cpp
  libraries/chain/hardfork.d/CORE_890.hf
  tests/tests/bitasset_tests.cpp
Labels: hardfork

#904 Update median feeds after feed_lifetime_sec changed
  libraries/chain/asset_evaluator.cpp
  libraries/chain/asset_object.cpp
  libraries/chain/db_maint.cpp
  libraries/chain/hardfork.d/CORE_868.hf
  libraries/chain/hardfork.d/CORE_868_890.hf
  tests/tests/bitasset_tests.cpp
Labels: hardfork

#910 Set TESTNET hard fork time to 2018-05-19T13:58:00Z
  libraries/chain/hardfork.d/CORE_184.hf
  libraries/chain/hardfork.d/CORE_188.hf
  libraries/chain/hardfork.d/CORE_199.hf
  libraries/chain/hardfork.d/CORE_214.hf
  libraries/chain/hardfork.d/CORE_338.hf
  libraries/chain/hardfork.d/CORE_342.hf
  libraries/chain/hardfork.d/CORE_343.hf
  libraries/chain/hardfork.d/CORE_453.hf
  libraries/chain/hardfork.d/CORE_518.hf
  libraries/chain/hardfork.d/CORE_583.hf
  libraries/chain/hardfork.d/CORE_588.hf
  libraries/chain/hardfork.d/CORE_604.hf
  libraries/chain/hardfork.d/CORE_606.hf
  libraries/chain/hardfork.d/CORE_620.hf
  libraries/chain/hardfork.d/CORE_625.hf
  libraries/chain/hardfork.d/CORE_834.hf
  libraries/chain/hardfork.d/CORE_868_890.hf
Labels: hardfork

#918 Update wallet in-code doc
  libraries/wallet/include/graphene/wallet/wallet.hpp
Labels: documentation

#951 Fix withdraw_permission_claim 'from' check #942
  libraries/chain/hardfork.d/CORE_942.hf
  libraries/chain/withdraw_permission_evaluator.cpp
  tests/tests/operation_tests2.cpp
Labels: hardfork

#932 Issues #922 and #931 bitasset_update checks
  libraries/chain/asset_evaluator.cpp
  libraries/chain/hardfork.d/CORE_922_931.hf
  tests/common/database_fixture.cpp
  tests/common/database_fixture.hpp
  tests/tests/bitasset_tests.cpp
Labels: hardfork

#938 Store correct block ID when switching forks
  libraries/chain/db_block.cpp
  tests/tests/block_tests.cpp
Labels: security

#971 MPA -> MPA -> CORE is valid
  libraries/chain/asset_evaluator.cpp
  tests/tests/bitasset_tests.cpp
Labels: hardfork

#965 Call check_call_orders as well when MCR or MSSR changed
  libraries/chain/asset_evaluator.cpp
  libraries/chain/db_maint.cpp
  libraries/chain/hardfork.d/CORE_935.hf
  tests/common/database_fixture.cpp
  tests/common/database_fixture.hpp
  tests/tests/bitasset_tests.cpp
Labels: hardfork

#981 Fix genesis asset_id mismatch issue
  libraries/chain/db_init.cpp
  libraries/chain/include/graphene/chain/config.hpp
  tests/common/database_fixture.cpp
  tests/tests/bitasset_tests.cpp
  tests/tests/database_tests.cpp
Labels: hardfork
