Repository bitshares/bitshares-core, pull requests merged in 2018-03, with the labels that each got.

#599 Asset update issuer operation
  libraries/app/impacted.cpp
  libraries/chain/asset_evaluator.cpp
  libraries/chain/db_init.cpp
  libraries/chain/db_notify.cpp
  libraries/chain/hardfork.d/CORE_199.hf
  libraries/chain/include/graphene/chain/asset_evaluator.hpp
  libraries/chain/include/graphene/chain/protocol/asset_ops.hpp
  libraries/chain/include/graphene/chain/protocol/fee_schedule.hpp
  libraries/chain/include/graphene/chain/protocol/operations.hpp
  libraries/chain/proposal_evaluator.cpp
  libraries/chain/protocol/asset_ops.cpp
  libraries/wallet/include/graphene/wallet/wallet.hpp
  libraries/wallet/wallet.cpp
  tests/tests/operation_tests.cpp
Labels: hardfork

#698 fix #588 Virtual operations should be excluded from transactions
  libraries/chain/hardfork.d/CORE_588.hf
  libraries/chain/include/graphene/chain/asset_evaluator.hpp
  libraries/chain/proposal_evaluator.cpp
  tests/tests/operation_tests.cpp
Labels: hardfork

#662 Implement grouped orders plugin
  libraries/app/CMakeLists.txt
  libraries/app/api.cpp
  libraries/app/application.cpp
  libraries/app/include/graphene/app/api.hpp
  libraries/chain/db_update.cpp
  libraries/chain/include/graphene/chain/protocol/asset.hpp
  libraries/chain/include/graphene/chain/protocol/types.hpp
  libraries/chain/protocol/asset.cpp
  libraries/db/include/graphene/db/index.hpp
  libraries/db/include/graphene/db/object_database.hpp
  libraries/plugins/CMakeLists.txt
  libraries/plugins/grouped_orders/CMakeLists.txt
  libraries/plugins/grouped_orders/grouped_orders_plugin.cpp
  libraries/plugins/grouped_orders/include/graphene/grouped_orders/grouped_orders_plugin.hpp
  programs/witness_node/CMakeLists.txt
  programs/witness_node/main.cpp
  tests/common/database_fixture.cpp
  tests/tests/basic_tests.cpp
Labels: api, plugin

#725 Add application option to disable `notify_remove_create` parameter in `set_subscribe_callback` API
  libraries/app/api.cpp
  libraries/app/application.cpp
  libraries/app/database_api.cpp
  libraries/app/include/graphene/app/application.hpp
  libraries/app/include/graphene/app/database_api.hpp
  libraries/chain/db_notify.cpp
  tests/tests/database_api_tests.cpp
Labels: api, performance

#705 Issue620 - BSIP37: Allow new asset name to end with a number
  libraries/chain/asset_evaluator.cpp
  libraries/chain/hardfork.d/CORE_620.hf
  libraries/chain/include/graphene/chain/asset_evaluator.hpp
  libraries/chain/include/graphene/chain/proposal_evaluator.hpp
  libraries/chain/proposal_evaluator.cpp
  libraries/chain/proposal_object.cpp
  libraries/chain/protocol/asset_ops.cpp
  tests/tests/uia_tests.cpp
Labels: hardfork

#785 784 trx callback
  libraries/app/api.cpp
  tests/tests/network_broadcast_api_tests.cpp
Labels: high priority

#790 when global settle an asset that backed by non core asset and quote p…
  libraries/chain/db_market.cpp
Labels: bug, hardfork, high priority
