Repository bitshares/bitshares-core, pull requests merged in 2018-02, with the labels that each got.

#627 Implement BSIP26 refund original fee
  libraries/chain/asset_evaluator.cpp
  libraries/chain/db_market.cpp
  libraries/chain/db_update.cpp
  libraries/chain/hardfork.d/CORE_604.hf
  libraries/chain/include/graphene/chain/database.hpp
  libraries/chain/include/graphene/chain/evaluator.hpp
  libraries/chain/include/graphene/chain/market_evaluator.hpp
  libraries/chain/include/graphene/chain/market_object.hpp
  libraries/chain/market_evaluator.cpp
  libraries/plugins/market_history/market_history_plugin.cpp
  tests/common/database_fixture.cpp
  tests/common/database_fixture.hpp
  tests/tests/fee_tests.cpp
Labels: hardfork

#656 Add broadcast_transaction method for broadcasting transaction signed by …
  libraries/wallet/include/graphene/wallet/wallet.hpp
  libraries/wallet/wallet.cpp
Labels: cli

#655 Always allow updating a call order to higher collateral ratio
  libraries/chain/hardfork.d/CORE_583.hf
  libraries/chain/market_evaluator.cpp
  tests/tests/operation_tests.cpp
Labels: hardfork

#676 add withdrawl permission api calls
  libraries/app/database_api.cpp
  libraries/app/include/graphene/app/database_api.hpp
Labels: api, feature

#572 Asset claim pool operation
  libraries/app/impacted.cpp
  libraries/chain/asset_evaluator.cpp
  libraries/chain/db_init.cpp
  libraries/chain/db_notify.cpp
  libraries/chain/hardfork.d/CORE_188.hf
  libraries/chain/include/graphene/chain/asset_evaluator.hpp
  libraries/chain/include/graphene/chain/proposal_evaluator.hpp
  libraries/chain/include/graphene/chain/protocol/asset_ops.hpp
  libraries/chain/include/graphene/chain/protocol/fee_schedule.hpp
  libraries/chain/include/graphene/chain/protocol/operations.hpp
  libraries/chain/proposal_evaluator.cpp
  libraries/chain/protocol/asset_ops.cpp
  libraries/wallet/include/graphene/wallet/wallet.hpp
  libraries/wallet/wallet.cpp
  tests/common/database_fixture.cpp
  tests/tests/fee_tests.cpp
Labels: hardfork
